body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;

}
a{
    padding: 2rem 3rem;
    text-transform: uppercase;
    background-color: blueviolet;
    color:#fff;
    font-size: 1.5rem;
    position: relative;
    text-decoration: none;
}

a::before{
    content: 'Did you';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: crimson;
    /* center our content */
    display: flex;
    justify-content: center;
    align-items: center;

    /* let's provide our rotation some animation*/
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
}
a::after{
    content: 'Enjoy it';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(14,231,14);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateX(270deg);
    transform-origin: top;
    transition: all 0.5s;
    transition-delay: 0.25s;

}
a:hover:before,a:hover:after {
    transform: rotateX(0);

}