*{
    margin:0;
    box-sizing: border-box;
    padding: 0;
}

body{
    background: hsl(240, 79%, 66%);
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper .loader{
display: flex;
justify-content: space-evenly;
padding: 0 20px;
}

.loader .loading{
    background: hsl(0, 0%, 100%);
    width: 30px;
    height: 30px;
    border-radius: 50px;
    margin: 0 10px;
    animation: Load 0.8s ease infinite;
}

.loader .loading.one{
    animation-delay: 0.3s;
}
.loader .loading.two{
    animation-delay: 0.4s;
}
.loader .loading.three{
    animation: Load 0.5s;
}


@keyframes Load {
0% {
    width: 30px;
    height: 30px;
}
50%{
    width: 20px;
    height: 20px;

}
}